.container{
    width:80vw;
    height: 65vh;
    background-color: #CCCDCF;
    padding: 5vh  5vh;
}

.box{
    background: white;
    height:60vh; 
    border-radius: 10px;
    align-content:flex;
    flex-direction: column;
}

.button {
    background-color: #47B5FF; 
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 12px;
    cursor: pointer;
    border-radius: 5px;
  }

  .deletebutton{
    text-align: center;
    display: inline-block;
    margin: 4px 12px;
    border-radius: 5px;
    font-size: 20px;
    background-color: red;
    color: white;
    border: none;
  }

  .table{
    width:100%;
    background:#47B5FF;
    color:white;
    height:60px;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
  }

  table,tr,td {
    border: 1px solid white;
  }

  .create{
    text-align: center;
    margin-top: 15vh;
    font-size: 30px;
  }
